aiohttp
apipkg
#apparmor==3.0.1
appdirs
asgiref
asn1crypto
async-generator
async-timeout
attrs
Automat
Babel
backcall
bcrypt
bleach
boto3
botocore
cached-property
certifi
cffi
chardet
click
cmdln
configobj
constantly
#crit==0.0.1
cryptography
cssselect
#cupshelpers==1.0
cycler
dateutils
decorator
defusedxml
distlib
distro
Django
django-appconf
django-countries
django-filter
django-ipware
django-tracking-analyzer
django-user-agents
djangorestframework
dnspython
docker
docker-compose
docker-pycreds
dockerpty
docopt
ecdsa
entrypoints
filelock
fluidity-sm
geoip2
h2
hpack
html5lib
httplib2
hyperframe
hyperlink
idna
importlib-metadata
incremental
#iniconfig==0.0.0
invoke
ipaddr
ipykernel
ipyparallel
ipython
ipython-genutils
ipywidgets
#isc==2.0
isodate
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lexicon
Markdown
matplotlib
matplotlib-inline
maxminddb
mistune
more-itertools
multidict
nbclient
nbconvert
nbformat
nest-asyncio
#nftables==0.1
notebook
notify2
ntlm-auth
numpy
olefile
ordered-set
outcome
packaging
pandocfilters
paramiko
parso
passlib
pbkdf2
pbr
pexpect
pickleshare
Pillow
pip-api
pip-tools
plotly
pluggy
ply
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycrypto
Pygments
PyHamcrest
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
PySocks
pytest
python-dateutil
python-dotenv
#python-keyczar
#python-linux-procfs
python-memcached
pytz
pyudev
pyvmomi
pywinrm
PyYAML
pyzmq
qtconsole
QtPy
rdflib
redis
requests
requests-ntlm
requests-toolbelt
s3transfer
Send2Trash
service-identity
simplegeneric
six
#slip==0.6.5
#slip.dbus==0.6.5
sniffio
sortedcontainers
sqlparse
stevedore
tenacity
terminado
testpath
texttable
toml
tornado
traitlets
trio
Twisted
typing-extensions
ua-parser
urllib3
user-agents
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
webencodings
websocket-client
xmltodict
yarl
zipp
zope.event
zope.interface
