{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="conception, concepteur, développement, développeur, logiciel, python, c++, java, django, pandas, base de donnée">
  <meta name="author" content="{{ page_author }}">

  <link rel="icon" type="image/x-icon" href="{{ page_ico }}" />
  <link rel="SHORTCUT ICON" href="{{ page_ico }}" />

  <head>
    <title>{{ page_title }}</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400&family=Train+One&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <style>
      body {
          font-family: 'Jost', sans-serif;
          font-size: 7mm;
          mont-mamily: 'Train One', cursive;
      }

      .container-fluid {
          width: 100%;
          padding-right: 66px;
          padding-left: 66px;
          margin-right: 0px;
          margin-left: 0px;
      }
    </style>        

  </head>

  <script>
      function initnow() {
          window.location.href = "{{ page_redirect }}";
      }
  </script>

  {{ page_pause | safe }}
  {% if page_redirect %}
  <body onload = "initnow()"></body>
</html>
{% endif %}

<body class = "alert alert-info"
      data-bs-toggle = "tooltip"
      data-bs-html = "true"
      title = ""
      role = "alert">

  <div class = "header-nav">
    <div class = "container-fluid">
      <header>        
        <nav title = "bootstrap navbar sticky-top navbar-expand-lg rounded shadow"
             class = "navbar fixed-top navbar-expand-lg navbar-info bg-dark">
          
          <div class = "container-fluid">

            <a title = "home"
               class = "navbar-brand btn-outline-secondary"
               href = "{% url 'index' %}">
              <img src = "{% static page_brand %}"
                   alt = "home"
                   height = "66"
                   class = "d-inline-block align-text-left"></a>
            
            <button title = "menu"
                    class = "navbar-toggler btn-outline-primary rounded-circle"
                    type = "button"
                    data-toggle = "collapse"
                    data-target = "#navbarSupportedContent"
                    aria-controls = "navbarSupportedContent"
                    aria-expanded = "false"
                    aria-label = "Toggle navigation">
              <span class = "navbar-toggler-icon">v</span>
            </button>

            <div class = "collapse navbar-collapse"
                 id = "navbarSupportedContent">
              <ul class = "navbar-nav mr-auto">

                <li class = "nav-item active">
                  <a title = "{% trans 'News' %}"
                     class = "nav-link btn-outline-primary rounded-circle"
                     href = "{% url 'news_index' %}">{% trans 'News' %}</a>
                </li>

                <li class = "nav-item active">
                  <a title = "{% trans 'Work' %}"
                     class = "nav-link btn-outline-info rounded-circle"
                     href = "{% url 'work_index' %}">{% trans 'Work' %}</a>
                </li>

                <li class = "btn-group nav-item active">
                  <a id = "btnGroupDrop"
                     title = "{% trans 'PlotMainDesc' %}"
                     class = "nav-link btn-outline-warning text-light dropdown-toggle rounded-circle"
                     data-toggle = "dropdown"
                     aria-haspopup = "true"
                     aria-expanded = "true">{% trans 'PlotMain' %}</a>
                  <div class = "dropdown-menu text-light bg-info"
                       aria-labelledby = "btnGroupDrop">
                    <a title = "{% trans 'PlotLang' %}"
                       class = "nav-link btn-outline-success rounded"
                       href = "{% url 'demo' %}">{% trans 'PlotLang' %}</a>
                    <a title = "{% trans 'PlotSun' %}"
                       class = "nav-link btn-outline-danger rounded"
                       href = "{% url 'sun' %}">{% trans 'PlotSun' %}</a>
                    <a title = "{% trans 'PlotBg' %}"
                       class="nav-link btn-outline-warning rounded"
                       href = "{% url 'bg' %}">{% trans 'PlotBg' %}</a>
                  </div>
                </li>

                <li class = "btn-group nav-item active">
                  <a id = "btnGroupDrop"
                     title = "{% trans 'About' %}"
                     class = "nav-link btn-outline-success text-light dropdown-toggle rounded-circle"
                     data-toggle = "dropdown"
                     aria-haspopup = "true"
                     aria-expanded = "true">{% trans 'About' %}</a>
                  <div class = "dropdown-menu text-light bg-success"
                       aria-labelledby = "btnGroupDrop">
                    <a title = "curriculum vitæ"
                       class = "nav-link btn-outline-warning rounded"
                       href = "/cv">{% trans 'MyCV' %}</a>
                    <a title = "django rest framework"
                       class = "nav-link btn-outline-primary rounded"
                       href = "/rest">api rest framework</a>
                    <a title="warning: administration requires a super user"
                       class = "nav-link btn-outline-danger rounded"
                       href = "/admin">django admininstration</a>
                    <a title = "this page is a django application"
                       class = "nav-link btn-outline-info rounded"
                       href = "{% url 'work_detail' 3 %}">{% trans 'ThisPage' %}</a>
                    {{ page_digitalocean_grand | safe }}

                  </div>
                </li>

              </ul>


              <ul class = "navbar-nav text-right">
                <li class = "nav-item">
                  <form method = "post">{% csrf_token %}
                    {% buttons %}
                    <button title = "{{ page_oldlang }}/{{ page_newlang }}"
                            type = "submit"                              
                            value = "{{ page_newlang }}"
                            class = "btn btn-outline-{{page_lancol}} rounded"
                            name = "fliplang"><strong>{% trans 'ChengeLangInverse' %}</strong>
                    </button>
                    {% endbuttons %}
                  </form>
                </li>
              </ul>


              <div class = "nav_item col-md-3 offset-md-1">
                <form method = "post" class = "d-flex">
                  {% csrf_token %}
                  <input title = "{% trans 'SendMeMessage' %}"
                         style = "{{ page_style }}"
                         class = "form-control me-2 rounded text-center"
                         type = "search"
                         placeholder = "{{ page_message }}"
                         name = "message"
                         aria-label = "commentaire">
                  <button class = "btn btn-outline-primary rounded-circle"
                          type = "submit">{{ page_submit }}</button>
                </form>
              </div>            
            </div>
          </div>
        </nav>

      </header>
    </div>
  </div>

  {{ page_pause | safe }}

  <div title = "block page_content"
       class = "col container-fluid">
    {% block page_content %}
    <!-- here is the extended page extended is here -->
    {% endblock %}
  </div>



  {{ page_pause | safe }}

  <div class = "footer">
    <div class = "container-fluid">
      <footer title="footer fixed-bottom sticky-bottom rounded"
              class="footer fixed-bottom sticky-bottom text-light bg-dark text-right text-light">
        <small class="text-light">
          <small>
            &#127279; {{ page_author }},
            {{ page_time | date:"ymd" }}, {{ page_place }}
            {% include "social.html" %}
          </small>

        </small>
      </footer>
    </div>
  </div>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
  <!-- <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>     -->


</body>

</html>
