<div title = "bienvenu modal-dialog text-monospace"
     class = "card text-white bg-dark mb-4 text-monospace">     
  <div class = "card-header">bienvenue</div>
  <div class = "card-body">
    <h5 class = "card-title">Bienvenue sur la page d'accueil,</h5><br />
    <p>La langue par défaut est le français.
      <form method = "post"
            action = "{% url 'index' %}">{% csrf_token %}
        <button title = "english translation"
                class = "btn-outline-primary text-right"
                value = "eng"
                data-toggle = "modal"
                data-bs-toggle = "modal"
                data-target = "#bienvenue"
                data-bs-target = "#bienvenue"
                name = "fliplang">english version</button>
      </form>
    </p><br />
    <p class = "card-text">Je m'appelle Kalo. Je comprends et je sais parler, lire et écrire en français, en anglais et en bulgare. Phisicien de formations, de nationalité - bulgare, j'habite en France depuis dix ans. Avant avoir venu j'ai terminé mon doctorat en physique des particules experimentale à l'Université de Hamburg en Allemagne.</p>
    <br />
    <p class = "card-text">Je suis développeur back-end et concepteur d'application. Je m'intéresse de bases de données, d'analyse de données et de visualistion en-ligne. Mon langage de programmation préféré est python. La programmation orientée objet est facilitée par un ensemble de technologies dédiés : Java, C++, PHP, ... Je préfère des logiciels open source.</p>
    <br />
    <p class = "card-text">Django est un cadre de développement web open source en Python. En fait, vous voyez un projet Django. Trouvez le code à github.com {{ page_github | safe }}. Continuez à lire {{ page_ln_about | safe }} ou voyez mes autre {{ page_ln_work | safe }}. Trouvez encore plus dans mon blog {{ page_ln_news | safe }} technologies et logiciels.</p>
    <br />
    <p class = "card-text">Puis, votez pour {{ page_ln_demo | safe }} préféré, voyez {{ page_ln_sun | safe }} ou apprenez la politique {{ page_ln_bg | safe }} en couleur.</p>
    <br />
    <p class = "card-text">Merci par avance pour vos notes, messages, commentaires et recommandations. Je suis disponible par mail à {{ "kaloyansen@gmail.com" | urlize }}. Mon numéro portable est +336 812 44 812. C'est très facile de m'envoyer un petit message crypté à l'aide de [message express] en haut droit de la page.</p>
  </div>
</div>


