{% extends "base.html" %}
{% block page_content %}


<div class = "accordion justify-content-between"
     style = "font-size:33px"
     id = "acc0">biographie

  <div title = "bio bouton group"
       class = "btn-group btn-group-lg"
       role = "group"
       aria-label = "btn-group aria-label">{# #}
    <button title = "bio"
            class = "btn btn-outline-dark rounded"
            data-toggle = "collapse"
            data-target = "#acc1">bio</button>
    <button title = "développement"
            class = "btn btn-outline-success rounded"
            data-toggle = "collapse"
            data-target = "#acc2">développement</button>
    <button title = "projets"
            class = "btn btn-outline-info rounded"
            data-toggle = "collapse"
            data-target = "#acc3">projets</button>
  </div>

  {{ page_pause | safe }}

  <div title = "bio"
       id = "acc1"
       data-parent = "#acc0"
       class = "collapse user-select-none shadow show">
    <p>Je m'appelle Kaloyan KRASTEV. Je suis né le premier janvier 1976 en Burgas, une ville à côté de la mer noire en Bulgarie.</p>
    <p>Physicien de formation j'ai travaillé dans la physique des particules d'abord en Bulgarie avant d'avoir faite mon doctorat à l'Université de Hamburg en Allemagne et mes études postdoctorales au CNRS (Centre National de la Recherche Scientifique) à Grenoble en France.</p>
    <p>Mes compétences informatiques sont développé pendant mon travail dans la physique expérimentale y compris des calcules, des simulations, analyse des données scientifique et visualisation de données. Je programme depuis 2000 et j'ai toujours voulu travailler dans le développement logiciel. Je suis passionné de ce domaine.</p>
    <p>Responsable, organisé, attentif aux détails, plutôt indépendant, j'ai de capacité d'adaptation. Les problèmes complexes sont ma spécialité.<p>
    <p>Je comprends et je sais parler, lire et écrire en français, en anglais et en bulgare.</p>
    
  </div>
  
  <div title = "développement"
       id = "acc2"
       data-parent = "#acc0"
       class = "collapse user-select-none shadow">
    <p>Je souhaite travailler comme développeur back-end et concepteur d'application. Je m'intéresse de bases de données, d'analyse de données et de visualisation en ligne.</p>
    <p>Je code en javascript, php, python, c, java, c++, perl et fortran. Mes langages de programmation préférés sont python, java et c++.</p>
    <p>J'utilise surtout des logiciels source ouverte. Je connais django, docker, bootstrap, pandas, gnuplot, emacs, eclipse, symfony, vue.js, angular; version contrôle: cvs, subversion, git; web serveurs: apache, nginx, gunicorn, CGI, WSGI; bases de données: oracle, mysql, sqlite, sql*loader; systèmes d'exploitation: Red Hat, Debian, Ubuntu et OpenSUSE Linux, DOS.</p>
  </div>

  <div title = "projets"
       id = "acc3"
       data-parent = "#acc0"
       class = "collapse user-select-none shadow">
    <p>J'ai commencé à coder avec fortran l'année 2000 pour ma thèse à l'Université de Sofia dédiée aux calculs de la réactivité d'un réacteur nucléaire. Puis, j'ai travaillé sur l'estimation du risque pour la population à l'aide des simulations de l'évolution de déchet radioactif à vie longue.</p>
    <p>Mon doctorat était consacré à l'analyse des données expérimentales. Le code de l'analyse est écrit en C++. Mon premier projet en Allemagne est un programme de dupliquer en temps réel dans une base de données oracle et puis visualiser en ligne les données. Je parle des données expérimentales de détecteur H1 à HERA (Hadron-Electron Ring Accélérateur). HERA(1992-2007) est une expérience de DESY (Deutsches Elektronen-Synchrotron) à Hamburg en Allemagne. Ma première application écrit en java sert à contrôler à distance le central trigger de détecteur. Un programme d'apprentissage de la langue française pour des bulgares avec plus que cinq milles mot et expressions est la dernière.</p>
    <p>Dans la laboratoire de physique subatomique et cosmologie, LPSC du CNRS j'ai participé la programmation de la reconstruction d'un prototype détecteur des photons en c.</p>
    <p>Je m'intéresse au développement de l'apprentissage automatique et des réseaux de neurones.</p>
    {% include "social.html" %}

  </div>

</div>




{% endblock %}
