<table class="table" title="curriculum vitæ">
  <tr class="table-success">
    <th><h2>expérience</h2></th>
    <th><h2>compétences</h2></th>
    <th><h2>formation</h2></th>
  </tr>

  <tr>
    
    <td class="table-primary">
      <ul>
        <li>CNRS - Grenoble, France</li>
        <li>DESY Hamburg, Allemagne</li>
        <li>INRNE - BAS, Sofia, Bulgarie</li>
      </ul>
    </td>
    
    <td class="table-info">
      <ul>
        <li>python</li>
        <li>c++</li>
        <li>java</li>
        <li>c</li>
        <li>php</li>
        <li>javascript</li>
      </ul>
    </td>

    <td class="table-success">
      <ul>
        <li>simplon.co, grenoble</li>
        <li>la conservatiore de grenoble</li>
        <li>université de hamburg</li>
        <li>université de sofia</li>
      </ul>
    </td>
    
  </tr>

</table>
