{% extends "base.html" %}

{% load static %}
{% block page_content %}

<script>
  $(window).on('load',function(){
  var delayMs = 4444; // delay in milliseconds
    
  setTimeout(function(){
  $('#myModal').modal('show');
  }, delayMs);
  });
</script>

    <!-- <script> -->
    <!--   $(document).ready(function(){ -->
    <!--   $("#myModal").modal('show'); -->
    <!--   }); -->
    <!-- </script> -->
    
<div class="row">

  <div id="mmyModal" class="col-md-7">
    <img src="/demo/0" width="100%"/>
  </div>

  <div id="mmyModal" class="col-md-3">
    <div class="form-group">
      <form action="/demo/" method = "post">
        {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn-outline-info">send</button>
      </form>
      <p><label>{{ party }}</label>
    </div>
  </div>

  <div class="col-md-18">
    <img src="{% static image %}" alt="{{ image }} not found" width="100%">
  </div>

</div>


<!-- <div id="mmmyModal" class="col-md-2"> -->
<!--   <p><img src="/demo/1" height="654mm"/></p> -->
<!-- </div> -->

<!-- <div id="mmmmyModal" class="col-md-3"> -->
<!--   <p><img src="/demo/2" height="432mm"/></p> -->
<!-- </div> -->


    <!-- <div id="myModal" class="modal fade"> -->
    <!--   <div class="modal-dialog modal-dialog-centered modal-lg"> -->
        
    <!--     <div class="modal-content"> -->
    <!--       just one question -->
    <!--       <div class="modal-header"> -->
    <!--         кой е вашият любим език за програмиране ? -->
    <!--         <h5 class="modal-title">what is your favorit programming language ?</h5> -->
    <!--       </div> -->
    <!--       <div class="modal-body"> -->
    <!--         quel est votre langage de programmation préféré ? -->
    <!--       </div> -->
    <!--       <div class="modal-footer"> -->
    <!--         <button class="btn btn-outline-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" data-dismiss="modal">javascript</button> -->
    <!--         <button class="btn btn-outline-primary mx-auto" data-dismiss="modal">c</button> -->
    <!--         <button class="btn btn-outline-warning" data-bs-toggle="modal" data-dismiss="modal">php</button> -->
    <!--         <button class="btn btn-outline-secondary mx-auto" data-dismiss="modal">c++</button> -->
    <!--         <button class="btn btn-outline-success" data-dismiss="modal">python</button> -->
    <!--         <button class="btn btn-outline-dark" data-dismiss="modal">perl</button> -->
    <!--         <button class="btn btn-outline-info" data-dismiss="modal">java</button> -->
    <!--         <button class="btn btn-outline-light" data-dismiss="modal">other</button> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    
    <!-- </div> -->



{% endblock %}
