{% extends "base.html" %}
{% block page_content %}
{{ page_pause | safe }}


<div title = "spider"
     class = "conteiner-fluid">       
  <!-- <div title = "spider" -->
  <!--      class = "conteiner-fluid row">        -->
  <!--   {% if graph %} -->
  <!--   {{ graph | safe }} -->
  <!--   {% else %} -->
  <!--   <p>no graph provided</p> -->
  <!--   {% endif %} -->
  <!-- </div> -->

  <div title = "error"
       style = "font-size:33mm"
       class = "container-fluid row">{{ message | safe }}
    <a title = "error"
       class = "link-warning rounded-circle"
       style = "font-size:44mm"
       href = "mailto:kaloyansen@gmail.com&subject=error&body=description">
      webmaster</a>
  </div>

</div>

{% endblock %}
