{% extends "base.html" %}
{% block page_content %}


<div class = "accordion"
     style = "font-size:16mm"
     id = "acc0">do not panic

  <button title = "error"
          class = "btn btn-outline-warning rounded"
          data-toggle = "collapse"
          data-target = "#acc1">error</button>
  <button title = "location"
          class = "btn btn-outline-success rounded"
          data-toggle = "collapse"
          data-target = "#acc2">url</button>
  <button title = "address"
          class = "btn btn-outline-info rounded"
          data-toggle = "collapse"
          data-target = "#acc3">address</button>
  <hr>
  <div title = "error"
       id = "acc1"
       data-parent = "#acc0"
       class = "collapse show">{{ message | safe }}
    <a title = "error"
       class = "link-warning rounded-circle"
       href = "mailto:kaloyansen@gmail.com&subject=kalodeverror&body=description">webmaster</a>
  </div>
  
  <div title = "location"
       id = "acc2"
       data-parent = "#acc0"
       class = "collapse">{{ loco }}
  </div>

  <div title = "address"
       id = "acc3"
       data-parent = "#acc0"
       class = "collapse">{{ 'kaloyansen@gmail.com' | urlize }}
  </div>  
  
</div>








{% endblock %}
