{% extends "base.html" %}

{% block page_content %}

<div class = "container-fluid" style = "{{ style1 }}">

  <div class = "row" style = "{{ style2 }}">
    style: {{ style2 }}

    <div style = "{{ style }}">
      style: {{ style }}
      <br />
      {{ page_visitor }}
    </div>
    
    <div style = "{{ style1 }}">
      style: {{ style1 }}
      <br />
      nova: {{ page_nova }}
      <br />
      oldlang: {{ page_oldlang }}
      newlang: {{ page_newlang }}
      iseng: {{ page_en }}
      color: {{ page_lancol }}
      <br />
      label: {{ page_message }}
      submit: {{ page_submit }}
      <br />
      debug: {{ debug }}
      hostname: {{ hostname }}
    </div>

  </div>

  <div title = "div work.visitor"
       class = "table-responsive"
       style = "{{ style }}">
    <table title = "table work.visitor"
           class = "table table-hover table-bordered table-dark"
           style = "">
      <caption>work.visitor</caption>
      <thead>
        <tr>
          <th scope = "col">date</th>
          <th scope = "col">ip</th>
          <th scope = "col">code</th>
          <th scope = "col">voted</th>
          <th scope = "col">lang</th>
          <th scope = "col">message</th>
          <th scope = "col">mencrypted</th>
          <th scope = "col">mage</th>
        </tr>
      </thead>
      <tbody>
        {% for visa in visit %}
        {% if visa.is_robo %}
        <tr class = "bg-dark text-light">
        {% elif visa.has_message %}
        <tr class = "bg-warning">
        {% elif visa.voted %}
        <tr class = "bg-danger text-warning">
        {% else %}
        <tr class = "bg-light text-dark">
          {% endif %}
          <th scope = "row">{{ visa.date }}</th>
          <td>{{ visa.ip_address }}</td>
          <td>{{ visa.code }}</td>
          <td>{{ visa.voted }}</td>
          <td>{{ visa.lang }}</td>
          <td>{{ visa.dessage }}</td>
          <td>{{ visa.mencrypted }}</td>
          {% if visa.marray_size > 0 %}
          <td>{{ visa.marray }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<!-- {% for rcode in colcode %} -->
<!-- {% for gcode in colcode %} -->
<!-- {% for bcode in colcode %} -->
<!-- <div style = "background-color:rgb({{ rcode }}, {{ gcode }}, {{ bcode }}); color:rgb(200, 0, 200);">{{ rcode }}, {{ gcode}}, {{ bcode }}</div> -->
<!-- {% endfor %} -->
<!-- {% endfor %} -->
<!-- {% endfor %} -->

  {% for rain in rainbow %}
  <div title = "{{ rain }}"
       class = "container-fluid text-center"
       style = "{{ rain }}">**************** {{ rain }} ****************</div>
  {% endfor %}

</div>
{% endblock %}
