{% extends "base.html" %}
{% block page_content %}
{% load static %}

{% if page_nova %}
<script>
  $(window).on('load', function() {
  setTimeout(function() {
  $('#bienvenue').modal('show');
  }, 3210); // delay in milliseconds
  });
</script>
{% endif %}

<h1>{{ title }}</h1>

<div title = "info info info"
     class = "card-group container-fluid">
  <!-- class = "card-group row clearfix"> -->

  <div title = "bonjour"
       class = "card col-md-3 alert-info">
    <div class = "card-body">
        <a title = "manifest"
           class = "card-text btn btn-outline-info rounded-circle"                
           style = "font-size:9.6mm;"
           data-toggle = "modal"
           data-target = "#bienvenue">
          <img title = "Kaloyan KRASTEV"
               class = "card-img-top rounded-circle"
               src = "{% static image %}"
               alt = "{{ image }} not found"></a>
    </div>
  </div>

  <div title = "about"
       class = "card col-md-4 alert-info">
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        {{ about | safe }}
      </div>
    </div>
  </div>

  <div title = "langages de programmation"
       class = "card col-md-2 alert-primary">       
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:7mm;">
        {% if page_en %}programming languages:
        {% else %}langages de programmation:
        {% endif %}
      </div>
      <p class = "card-text">{{ lange | safe }}</p>
    </div>
  </div>

  <div title = "technologie"
       class = "card col-md-3 alert-secondary">       
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        {% if page_en %}technology:
        {% else %}technologie:
        {% endif %}
      </div>
      <p class = "card-text">{{ techno | safe }}</p>
    </div>
  </div>

</div>

<div title = "about me"
     class = "card-group container-fluid">

  <div title = "expérience"
       class = "card col-md-3 alert-success">       
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        {% if page_en %}experience:
        {% else %}expérience:
        {% endif %}
      </div>
      <p class = "card-text">CNRS - Grenoble, France </p>
      <p class = "card-text">DESY - Hamburg, Allemagne</p>
      <p class = "card-text">INRNE - BAS - Sofia, Bulgarie</p>
    </div>
  </div>

  <div title = "compétences"
       class = "card col-md-5 alert-danger">       
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        {% if page_en %}skills:
        {% else %}compétences:
        {% endif %}
      </div>
      <p class = "card-text">{{ lange | safe }}</p>
      <p class = "card-text">{{ techno | safe }}</p>
    </div>
  </div>

  <div title = "formation"
       class = "card col-md-4 alert-warning">       
    <div class = "card-body">
      <div class = "card-title"
           style = "font-size:8mm;">
        {% if page_en %}education:
        {% else %}formation:
        {% endif %}
      </div>
      <p class = "card-text">simplon.co - Grenoble</p>
      <p class = "card-text">la Conservatoire de Grenoble</p>
      <p class = "card-text">Université de Hamburg</p>
      <p class = "card-text">Université de Sofia</p>
      <p class = "card-text"><small class = "text-muted">
          <a title = "curriculum vitæ"
             class = "btn btn-outline-success"
             href = "/cv">curriculum vitæ</a>
      </small></p>
    </div>
  </div>
</div>

{{ page_pause | safe }}
<div id="carexind"
     class="row carousel slide"
     title="class = row carousel slide"
     data-interval="6789"
     data-keyboard="true"
     data-pause="hover"
     data-ride="carousel"
     data-wrap="true">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static apirest %}" alt="{{ apirest }} not found">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static basicdjango %}" alt="slide 2">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static django %}" alt="slide 3">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static djangorest %}" alt="slide 4">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static framework %}" alt="slide 5">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static langage %}" alt="slide 6">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static mtv %}" alt="slide 7">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static mvc %}" alt="slide 8">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static mvcr %}" alt="slide 9">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static restendpoint %}" alt="slide 10">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static rsa %}" alt="slide 11">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static serverless %}" alt="slide 12">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static web %}" alt="slide 13">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carexind" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="non-sr-only text-dark">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carexind" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="non-sr-only text-dark">Next</span>
  </a>
</div>


{{ page_pause | safe }}
{{ page_pause | safe }}

<div>
  {% if page_en %}
  {% include "welcome.html" %}
  {% else %}
  {% include "bienvenue.html" %}
  {% endif %}
</div>

<div class = "modal fade bg-dark"
     tabindex = "-1"
     id = "bienvenue"
     role = "dialog"
     aria-hidden = "true"
     aria-labelledby = "myLargeModalLabel">
  <div class = "modal-dialog modal-lg">
    <div class = "modal-content bg-danger">
      <div class = "modal-header bg-dark text-primary">
        <div class = "modal-title">{{ page_digitalocean_grand | safe }}</div>
      </div>
      <div class = "modal-body bg-primary">
        {% if page_en %}
        {% include "welcome.html" %}
        {% else %}
        {% include "bienvenue.html" %}
        {% endif %}
      </div>
      <div class = "modal-footer bg-dark">
        <a title = "continue"
           class = "nav-link btn-outline-primary text-right"
           data-dismiss = "modal"
           href = "/">
          {% if page_en %} thank you
          {% else %} merci
          {% endif %}
        </a>
      </div>
    </div>
    
  </div>
</div>

{% if page_not_voted %}
<div class="row justify-content-center">
  <a title = "pas encore voté votre langage de programmation préféré ?"
     class = "btn btn-outline-warning text-right"
     href = "{% url 'demo' %}">voter en-ligne</a>
</div>
{% endif %}

<a class="btn btn-outline-info"
   href="#"
   data-toggle="popover"
   title="back to top"
   data-content="the content inside">back to top</a>


{% endblock %}
