{% extends "base.html" %}
{% block page_content %}

<script>
    function initafter() {
        var timer = setTimeout(function() {
            window.location = '{{ red }}'
        }, {{ after }});
    }
</script>
    

{% if disco %}
  <body onload = "initafter()"></body>
</html>
{% endif %}

<div class = "container-fluid p-3 mb-2 alert-info">

  <div class = "row card alert-info">
    <div class = "card-header">En Bulgarie, le chanteur Slavi remporte les législatives</div>
    <div class = "card-body">
      <blockquote class = "blockquote mb-4">Il est temps de regarder les étoiles, a-t-il affirmé dans une vidéo filmée, sans question de journalistes. Le parti fondé et dirigé par Slavi, Ima takouv narod (itn, il y a un tel peuple) a obtenu plus de 23 % des voix.
        <footer class = "blockquote-footer">Le Monde
          <cite title = "Le Monde"></cite></footer>
      </blockquote>
    </div>
  </div>

  <div class = "row container-fluid">

    <div class = "col-md-4">
      {% if graph1 %}
      {{ graph1 | safe }}
      {% else %}
      <p>no graph1 provided</p>
      {% endif %}
    </div>

    <div class = "col-md-4">
      {% if graph2 %}
      {{ graph2 | safe }}
      {% else %}
      <p>no graph2 provided</p>
      {% endif %}
    </div>

    <div class = "col-md-4">
      {% if graph %}
      {{ graph | safe }}
      {% else %}
      <p>no graph provided</p>
      {% endif %}
    </div>
    
  </div>

</div>


{% endblock %}
