{% extends "base.html" %}
{% load static %}
{% block page_content %}


<div class = "container-fluid row g-0 alert-info bg-dark">

  <div class = "col-md-6 offset-md-1">
    <h5 class = "text-light"><br />last update:</h5>
    <div title = "update"
         class = "list-group">
      {% for post in posts %}
      <a title = "{{ post.title }}"
         class = "list-group-item rounded bg-info text-light text-center"
         href = "{% url 'news_detail' post.pk%}">
        {{ post.title }}</a>
      {% endfor %}
    </div>
    {{ page_pause | safe }}
  </div>

  <figure class = "col-md-4 figure">
    {{ page_pause | safe }}
    <img title = "slide show"
         src = "{% static slide %}"
         class = "figure-img img-fluid rounded-circle"
         alt = "{{ slide }}"
         id = "wows1"/>
    <figcaption class = "figure-caption text-center text-light">slide show</figcaption>
  </figure>

</div>



{% for post in posts %}
{{ page_pause | safe }}

<div class = "col-md-8 offset-md-2 bg-dark text-light">
  <hr>
  <h2><a href="{% url 'news_detail' post.pk%}">{{ post.title }}</a></h2>
  <img title = "{{ post.title }}"
       src = "{% static post.image %}"
       alt = "{{ post.image }} not found"
       width = "100%"
       class = "img-fluid mx-auto d-block">
  <small>
    {{ post.created_on.date }} |&nbsp;
    Categories:&nbsp;
    {% for category in post.categories.all %}
    <a href="{% url 'news_category' category.name %}">
      {{ category.name }}
    </a>&nbsp;
    {% endfor %}
  </small>
  <p>{{ post.body | safe | slice:":432" }} ...
    <a href="{% url 'news_detail' post.pk%}">continuer à lire</a></p>
</div>
{% endfor %}



{{ page_pause | safe }}


{% endblock %}
