<a title="linkedin.com/kaloyansen"
   class="btn-outline-info"
   href="https://www.linkedin.com/in/kaloyan-k-krastev/">
  <img src="https://www.linkedin.com/favicon.ico"
       height="20mm"
       alt="linkedin"></a>

<a title="github.com/kaloyansen"
   class="btn-outline-info"
   href="https://github.com/kaloyansen">
  <img src="https://www.github.com/favicon.ico"
       height="20mm"
       alt="github"></a>

<a title="stackoverflow.com/users/3566444/morla"
   class="btn-outline-info"
   href="https://stackoverflow.com/users/3566444/morla">
  <img src="https://stackoverflow.com/favicon.ico"
       height="20mm"
       alt="stackoverflow"></a>

<a title="digitalocean.com/kaloyansen"
   class="btn-outline-info"
   href="https://www.digitalocean.com/?refcode=ff8b99f4b98b&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
  <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
       height="24mm"
       alt="DigitalOcean Referral Badge" />
  
