<div class="card text-white bg-dark mb-3 text-monospace"
     title="modal-dialog modal-lg fade bg-dark bienvenue">
  <div class="card-header">bienvenue</div>
  <div class="card-body">
    <h5 class="card-title">Welcome to my home page, dear friends, bienvenue sur mon site, добре дошли на моята страница в интернет, приятели,</h5>
    <p class="card-text">My name is Kalo. You will find here text
      <a title="https://www.linkedin.com/in/kaloyan-k-krastev"
         class="btn-outline-info"
         href="https://www.linkedin.com/in/kaloyan-k-krastev/">
        <img src="https://www.linkedin.com/favicon.ico"
             height="20mm"
             alt="linkedin"></a>
      english as well as
      <a title="https://www.linkedin.com/in/kaloyan-k-krastev"
         class="btn-outline-info"
         href="https://www.linkedin.com/in/kaloyan-k-krastev/">
        <img src="https://www.linkedin.com/favicon.ico"
             height="20mm"
             alt="linkedin"></a>
      french and sometimes bulgarian. I hope the content is not interesting for software developpers only. Je comprends et je parle et je sais lire et écrire en français, en anglais et en bulgare. Phisicien de formations, de nationalité - bulgare, j'habite en France depuis dix ans. Je préfère la discution des technologies logiciel en anglais. I speak french, but I prefer talking about technology in english because I have learned it in english. And to be consistent, that's in bulgarian; Здравейте скъпи приятели и много здраве от Франция.</p>
    <p class="card-text">Je suis développeur back-end et concepteur d'application. I am a software developer with special interest in databases, data analysis and software design. My favorite programming language is python. Django is the way I create web applications. In fact, what you see is a django project. Read
      <a title="mes projets"
         class="btn btn-outline-success rounded-circle"
         href="{% url 'work_detail' 3 %}">about</a>
      it and see other projects in
      <a title="mes projets"
         class="btn btn-outline-info rounded-circle"
         href="{% url 'work_index' %}">work</a>.
      Go to
      <a title="quoi de neuf"
         class="btn btn-outline-primary rounded-circle"
         href="{% url 'news_index' %}">news</a>
      to find more about the latest software technologies. Mon blog nouvelles technologies et logiciels s'appelle
      <a title="quoi de neuf"
         class="btn btn-outline-primary rounded-circle"
         href="{% url 'news_index' %}">news</a>.</p>
    <p class="card-text">Have fun is extremely important. Vote for your favorite programming
      <a title = "programming languages"
         class="btn btn-outline-warning rounded-circle"
         href="{% url 'demo' %}">language</a>.
      Voir le modèle 3d du système
      <a title = "le système solaire"
         class="btn btn-outline-success rounded-circle"
         href="{% url 'sun' %}">solaire</a>
      ou apprendre la politique
      <a title = "les élections bulgare anticipées"
         class="btn btn-outline-info rounded-circle"
         href="{% url 'bg' %}">bulgare</a>
      en couleur.</p>
    <p class="card-text">Thank you
      <a title="https://www.linkedin.com/in/kaloyan-k-krastev"
         class="btn-outline-info rounded"
         href="https://www.linkedin.com/in/kaloyan-k-krastev/">
        <img src="https://www.linkedin.com/favicon.ico"
             height="20mm"
             alt="linkedin"></a>
      advance for your messages, remarks, comments, notes, warnings. I am available for contract work. Merci par avance pour vos notes, messages, commentaires et recommandations. You can reach me at
      <a href="mailto:kaloyansen@gmail.com&subject=bonjour&body=merci"
         title="Email">kaloyansen@gmail.com</a>
      or call +336 812 44 812. Enjoy.
    </p>
  </div>
</div>


