<div title = "welcome modal-dialog text-monospace"
     class = "card text-white bg-dark mb-4 text-monospace">
  <div class = "card-header">welcome</div>
  <div class = "card-body">
    <h5 class = "card-title">You are very welcome to my home page,</h5>
    <br />
    <p class = "card-text">My name is Kalo. I understand and I can speak, read and write in english, french and bulgarian. Physicist par education with bulgarian nationality, I live in France for more than ten years. Before that I have had my PhD in experimental particle physics from Hamburg University in Germany. Still I prefer reading and writing in english about technology because I have had learned it in english. And of course there is much more information in english on the web.</p>
    <br />
    <p class = "card-text">I am an object oriented software developer with special interest in databases, data analysis and software design. I started my career in experimental physics and I have been programming for over 20 years in a variety of technologies and languages, including fortran, perl, c, C++, java, PHP, javacript, to name a few, and several shell scripts, mostly csh, zsh and bash, but still, my favorite programming language is python. Meanwhile Django is the best python web framework. In fact, what you see is a Django project. The code is available at {{ 'https://github.com/kaloyansen/deploy.git' | urlizetrunc:24 }}. Read {{ page_ln_about | safe }} or see my other projects in {{ page_ln_work | safe }}. Go to {{ page_ln_news | safe }} to find more about the latest software technologies.</p>
    <br />
    <p class = "card-text">I hope the content is not interesting for software developpers only. Have fun is important. Vote for {{ page_ln_demo | safe }}, see {{ page_ln_sun | safe }} or learn about the politic {{ page_ln_bg | safe }} in colors.</p>
    <br />
    <p class = "card-text">Thank you in advance for your messages, remarks, comments, notes, warnings. I am available for contract work. See details on my linked{{ page_linkedin | safe }} profile.</p>
    <br />
    <p class = "card-text">Reach me at {{ "kaloyansen@gmail.com" | urlize }} or call +336 812 44 812. You may also send me an encrypted note by the [message express] on the right side of the navigation bar on top of the page.</p>
  </div>
</div>
