<div class="card text-white bg-dark mb-3 text-monospace"
     title="modal-dialog modal-lg fade bg-dark bienvenue">
  <div class="card-header">welcome</div>
  <div class="card-body">
    <h5 class="card-title">Welcome to my home page, dear friends,</h5><br />
    <p class="card-text">My name is Kalo. I hope the content is not interesting for software developpers only. I understand and I can speak, read and write in english, french and bulgarian. Physicist par education, bulgarian nationality, I live in France for ten years. Still I prefer talking about technology in english because I have learned it in english.</p><br />
    <p class="card-text">I am an object oriented software developer with special interest in databases, data analysis and software design. I have written in fortran, perl, c, C++, java, PHP, javacript, several shell scripts like csh, zsh and bash and many more but still my favorite programming language is python. Meanwhile Django is the best python web framework. In fact, what you see is a Django project. The code is available at github {{ page_github | safe }}. Read {{ page_ln_about | safe }} it or see my other projects in {{ page_ln_work | safe }}. Go to {{ page_ln_news | safe }} to find more about the latest software technologies.</p><br />
    <p class="card-text">Have fun is important. Vote for your favorite programming {{ page_ln_demo | safe }}, see a simple 3d model of the system {{ page_ln_sun | safe }} or learn about the politic {{ page_ln_bg | safe }} in colors.</p><br />
    <p class="card-text">Thank you {{ page_linkedin | safe }} advance for your messages, remarks, comments, notes, warnings. I am available for contract work.</p><br />
    <p class= "card-text"> Reach me at <a href = "mailto:kaloyansen@gmail.com&subject=bonjour&body=merci" title="Email">kaloyansen@gmail.com</a> or call +336 812 44 812. You may also send me a note with the message express form on the top right of the site.</p>
  </div>
</div>


