{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="row">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-2 alert-info">
      <img class="card-img-top" src="{% static project.image %}" alt="{{ project.image }}" title="{{ project.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <p class="card-text">{{ project.content }}</p>
        <a href="{% url 'work_detail' project.pk %}"
           class="btn btn-outline-primary"
           title="go to project">
          details
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row justify-content-center">
  <a title = "le système solaire"
     class = "btn btn-outline-warning text-right"
     href = "{% url 'sun' %}">voir le trois-dimensionel modèle du système solaire</a>
</div>

<div class="row">
  <a href="{% url 'index' %}"
     class="btn btn-outline-primary"
     title="go back home">
    home
  </a>
</div>

{% endblock %}
